header{
    background-color: purple
}
main{
    background-color: purple;

}
footer{
    background-color: rebeccapurple;
}

.aboutus{
    color:floralwhite;
}

ul, li{
    font-weight: bolder;
}

.companyname{ 
    font-weight: bolder
}

p {
    color: floralwhite;
}

h3, h1 {
    color: floralwhite;
}

nav ul li {
    display: inline-block;
}


/*Nav Styling*/
    nav ul li a {
        padding: 1.5em 5em;
        display: block;
    }
nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

nav li:hover {
    background-color: darkblue;
}
