/*Header Styling*/
header{
  
    z-index:10;
}

header img{
    display: block;
}



/*Nav Styling*/

nav ul li a {
        padding: 1.5em 5em;
        display: block;
    }

nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

nav li{
    display: inline-block;
}

nav li:hover {
    background-color: darkblue;
}
nav ul li {
    display: inline-block;
}
